{% extends "base.html" %}    
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}
    
{% block page_title %}
    {{ month_name|title }} Challenge
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}   <!--tag include robi co innego niz funkcja include z url-->

    <h1>{{ month_name|title }} Challenge</h1> <!--nie możemy użyć funkcji capitalized you w skladni django w html <h1>{{ month_name }} Challenge</h1>, mozna tu przekazywać jakies zminne, ale nie cala logike          Zastosowany został filtr tytułu, filtry to czesc jezyka DTL -->
    {% if text is not None %}
        <h2>{{ text }}</h2> <!--#palceholder dla kodu django w kodzie html-->
    {% else %}
        <p class="fallback">There is no challenge for this month yet!</p>
    {% endif %}
{% endblock %}
