<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Challenges</title>
</head>
<body>
    <ul>
        {% for month in months %}      <!--nawiasy z procentami umożliwiają danie logiki pythona-->
            <li><a href="">{{ month|title }}</a></li>        <!--month jest obojętną moją nazwą, a months to key podany w view-index-return render...-->
        {% endfor %}                    <!--zakończenie pętli-->
    </ul>                               <!--wcięcia nie mają tutaj znaczenia, w DTL. W django, pythonie tak, ale w dtl nie-->
</body>
</html>